@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #a2abbd;
	background: #21212b;
	display: flex;
	justify-content: center;
	align-items: center;
}

.radio-container {
	width: 320px;
	max-height: 600px;
}

.radio-header {
	height: 100px;
	color: #fff;
	background: #edae61;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px 15px 0 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
