@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #a2abbd;
	background: #21212b;
	display: flex;
	justify-content: center;
	align-items: center;
}
